<%
    let type = "";
    if (is_home()) type = "index";
    if (is_post() || is_page()) type = "post";
    if (is_category() || page.type === "categories") type = "categories";
    if (is_tag() || page.type === "tags") type = "tag";
    if (is_archive()) type = "archive";

    let title =  config.title + " - " + page.title;
    if (is_home()) title = config.title;
    if (is_post() || is_page()) title = config.title + " - " + page.title;
    if (is_category()) title = config.title + "Categories" + page.category;
    if (is_tag()) title = "Tags: " + page.tag + " | " + config.title;
    if (is_archive()) title = config.title + " - " + "Archives";
    let description = config.description;
    if (is_post()) description = page.excerpt;
%>

<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <title><%= title %></title>
    <meta property="og:title" content="<%= title %>">
    <meta property="og:site_name" content="<%= title %>">
    <meta property="twitter:title" content="<%= title %>">

    <meta name="keywords" content="<%= config.keywords %>">
    <meta name="author" content="<%= config.author %>">

    <meta name="description" content="<%= description %>">
    <meta property="og:description" content="<%= description %>">
    <meta property="twitter:description" content="<%= description %>">

    <meta property="og:image" content="<%= theme.headerimage %>">
    <meta property="og:image:secure_url" content="<%= theme.headerimage %>">
    <meta property="twitter:image" content="<%= theme.headerimage %>">
    <meta property="og:url" content="<%= config.url %>">
    <meta property="og:type" content="website">
    <meta property="twitter:card" content="summary_large_image">

    <meta name="abstract" content="<%= config.title %>">
    <meta name="subject" content="<%= config.title %>">


    <%- css('css/bootstrap.min.css') %>
    <%- css('css/style.css') %>
    <script>
      let themecolor = localStorage.getItem('theme');
      if (themecolor == null) {
        document.documentElement.setAttribute('data-theme', 'light');
      } else {
        document.documentElement.setAttribute('data-theme', themecolor);
      }
    </script>
  </head>
  <% if (theme.GAnalytics.enable) { %>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-XV0QDHZQQ5"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', '<%= theme.GAnalytics.id %>');
    </script>
  <% } %>
  <body>
    <%- partial('_partial/home',{type:type}) %>
    <% if(page.type != '404'){ %>
    <div class="container">
      <main class="main">
        <%- body %>
      </main>
    </div>
    <% }else { %>
      <%- partial('404') %>
    <%} %>
    <%- partial('_partial/footer') %>
    <%- partial('_components/rightmenu') %>
    <%- partial('_partial/after-footer') %>
  </body>
</html>