<section class="postlist">
    <% page.posts.each(function (post) { %>
    <div class="post-item">
      <div class="post-image">
        <a href="<%- url_for(post.path) %>">
          <img src="https://i.pinimg.com/736x/fc/a9/b5/fca9b5e8abf6f1b8e0cf863ef88a9af2.jpg" alt="<%- post.title %>">
        </a>
      </div>
      <div class="post-show">
        <div class="post-title">
          <a class="post-title-link" href="<%- url_for(post.path) %>"><%= post.title %></a>
        </div>
        <div class="post-meta">
          <span class="post-time"><%- date(post.date, "YYYY-MM-DD") %></span>
        </div>
      </div>
    </div>
    <% }) %>
</section>